<h1> Welcome to <%= @profile.first_name %>'s Profile Page</h1>

<div class="add_friend">
  <%form_tag method="post", action="/friend_request/#{@profile.id}%>" do %>
  <%=submit_tag "Send Friend Request"%>
</form>
<% @profile.attributes.each do |name, value| %>
<%= name %> : <%= value %> <br>
<% end %>  <br><br>
