<div class="container">

<h3 class="center"> Friend Requests</h3>

<% if (flash[:decline_notice].present?) %>
    <%=flash[:decline_notice]%> <br>
    <% flash[:decline_notice].clear %>
<%end%>


<% if @friend_requests.present? %>

  <div class="center">
  <% @friend_requests.uniq.each do |request| %>
    <% if request.receiver_id == current_user.id && request.status == "pending" %>
      <% @user = User.find(request.sender_id) %>
      <%= link_to "#{@user.first_name} #{@user.last_name}", profile_path(@user.profile) %>
      <%= button_to "Accept Request", create_friendship_path(@user), method: "post", class: "inline-buttons waves-effect waves-light blue lighten-3 btn" %>
      <%= button_to "Decline Request", destroy_request_path(request), method: "delete", data: {confirm: "Are you sure?"} , class: "inline-buttons waves-effect waves-light blue lighten-3 btn" %>
      <% end %> <br>
      <% end %>
<% end %>
</div>
</div>
