<div class="container">

<h1> Friend Requests Received</h1>

<% if (flash[:decline_notice].present?) %>
    <%=flash[:decline_notice]%> <br> <br>
    <% flash[:decline_notice].clear %>
<%end%>


<% if @friend_requests.present? %>

<% @friend_requests.uniq.each do |request| %>
  <% if request.receiver_id == current_user.id && request.status == "pending" %>
    <% @user = User.find(request.sender_id) %>
    <%= link_to "#{@user.first_name} #{@user.last_name}", profile_path(@user.profile) %>
    <%= button_to "Accept Request", create_friendship_path(@user), method: "post", class: "waves-effect waves-light blue lighten-3 btn" %> <br>
    <%= button_to "Decline Request", destroy_request_path(request), method: "delete", data: {confirm: "Are you sure?"} , class: "waves-effect waves-light blue lighten-3 btn" %> <br>
    <% end %>
    <% end %>
<% end %>

</div>
