<h1> Friend Requests Received</h1>

<% if (flash[:decline_notice].present?) %>
    <%=flash[:decline_notice]%> <br> <br>
    <% flash[:decline_notice].clear %>
<%end%>


<% if @friend_requests.present? %>

<% @friend_requests.each do |request| %>
  <% if request.receiver_id == current_user.id %>
    <% @user = User.find(request.sender_id) %>
    <%= link_to "#{@user.first_name} #{@user.last_name}", profile_path(@user.profile) %>
    <%= button_to "Accept Request", create_friendship_path, method: "post" %>
    <%= button_to "Decline Request", destroy_request_path(request), method: "delete", data: {confirm: "Are you sure?"} %> <br>
    <% end %>
    <% end %>
<% end %>
